.campaign-selection {
  position: relative;
  margin-top: 100px;
  /* background-color: blueviolet; */
  /* height: 100px; */
}

.campaign-selection__wrapper {
  /* background-color: white; */
  height: 100%;
  /* display: inline-block; */
  /* margin-top: 40px;
    margin-left: 80px; */
  /* margin: 40px 80px; */
  width: 80%;
  margin: 0 auto;
}

.campaign-selection__wrapper h1 {
  /* position: relative; */
  font-size: 2rem;
  color: #fff;
}

.campaign-selection__list {
  height: 200px;
  /* background-color: cornflowerblue; */
  margin-top: 20px;
  display: flex;
}

.campaign {
  height: 100%;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  border: 0px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.campaign img {
  /* position: absolute; */
  height: 100%;
  /* user-select: none; */
  /* -webkit-user-drag: none; */
  /* -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.campaign > div {
  position: absolute;
  bottom: 0;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(32, 32, 32, 0.651);
  padding: 5px 20px;
  border-radius: 15px 15px 0px 0px;
  user-select: none;
  text-align: center;
}

.campaign-1 {
  border: 5px solid green;
  margin-top: 0;
}

/* SEARCH BAR */
.marketplace {
  position: relative;
  /* background-color: lightcoral; */
}

.marketplace__header-wrapper {
  position: relative;
  height: 100%;
  width: 80%;
  /* background-color: lavender; */
  margin: auto;
}

.marketplace__header-wrapper > h1 {
  font-size: 2rem;
  color: white;
}

.marketplace__tab-wrapper {
  display: inline-block;
  /* background-color: yellow; */
  margin-top: 20px;
}

.marketplace__tab-wrapper span {
  display: inline-flex;
  /* background-color: lightblue; */
  margin: 0 10px;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  /* background-color: salmon; */
  background-color: #ed6a5a;
  border-radius: 5px 5px 0px 0px;
  font-weight: 700;
}

.marketplace__searchbar-wrapper {
  height: 200px;
  /* background-color: salmon; */
  /* background-color: #130f40; */
  /* background-image: linear-gradient(315deg, #130f4086 0%, #00000077 74%); */
  /* background-color: #12100e; */
  /* background-image: linear-gradient(170deg, #2b4162 0%, #12100e 50%); */
  /* background-color: #facc6b; */
  background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);
  /* background-color: #f39f86; */
  /* background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); */
  /* color: white; */
  color: #795710;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-weight: 700;
  /* width: 100%; */
}

.marketplace__searchbar-top,
.marketplace__searchbar-bot {
  flex: 1;
  width: 80%;
  /* background-color: green; */
  padding: 0 10px;
}

.marketplace__searchbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marketplace__item-category-wrapper {
  position: relative;
  /* background-color: yellow; */
  width: 60%;
  min-width: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.radio-container {
  margin: 5px;
  flex: 1;
  /* display: inline-block; */
  /* min-width: 150px; */
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container label {
  display: inline-block;
  /* background-color: green; */
  height: 50px;
  width: 100%;
  /* opacity: 0; */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  /* width: 100%; */
}

.radio-container input:checked + label {
  /* background-color: grey; */
  /* height: 50px; */
  background-color: #ed6a5a;
  /* background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%); */
  /* opacitY: 100%; */
}

.radio-container input:checked + label span::after {
  width: 60%;
}

.radio-container label span {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.radio-container label span::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  position: absolute;
  transform: translateY(15px);
  transition: all 0.2s ease-in-out;
}

.marketplace__searchbar-top button {
  /* margin-right: 20px; */
  font: inherit;
  font-size: 1.3rem;
  background-color: #ed6a5a;
  color: #795710;
  /* border: 2px solid #795710; */
  border: 1px solid transparent;
  padding: 10px 20px;
  box-shadow: 0 2px 1px -1px #4410096e, 0px 0px 0px 0px #4410096e inset;
  border-radius: 5px;
  transition: box-shadow .08s linear;
}

.marketplace__searchbar-top button:hover,
.marketplace__searchbar-top button:active {
  box-shadow: 0 0px 0px 0px #4410096e, 1px 1px 1px 1px #4410096e inset;
}

.radio-container label:hover span::after {
  width: 60%;
}

.marketplace__searchbar-bot input#searchbar {
  background-image: url("../img/search-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  text-indent: 5px;
}

.marketplace__searchbar-bot input#searchbar:focus {
  background-image: none;
}
