.campaign-selection {
  position: relative;
  margin-top: 100px;
  /* background-color: blueviolet; */
  /* height: 100px; */
}

.campaign-selection__wrapper {
  /* background-color: white; */
  height: 100%;
  display: inline-block;
  /* margin-top: 40px;
    margin-left: 80px; */
  margin: 40px 80px;
}

.campaign-selection__wrapper h1 {
  /* position: relative; */
  font-size: 2rem;
  color: #fff;
}

.campaign-selection__list {
  height: 200px;
  /* background-color: cornflowerblue; */
  margin-top: 20px;
  display: flex;
}

.campaign {
  height: 100%;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  border: 0px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.campaign img {
  /* position: absolute; */
  height: 100%;
  /* user-select: none; */
  /* -webkit-user-drag: none; */
  /* -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.campaign > div {
  position: absolute;
  bottom: 0;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(32, 32, 32, 0.651);
  padding: 5px 20px;
  border-radius: 15px 15px 0px 0px;
  user-select: none;
  text-align: center;
}

.campaign-1 {
  border: 5px solid green;
  margin-top: 0;
}


/* SEARCH BAR */
.marketplace {
    position: relative;
    background-color: lightcoral;
}

.marketplace__header-wrapper {
    position: relative;
    height: 100%;
    width: 80%;
    background-color: lavender;
    margin: auto;
}

.marketplace__header-wrapper > h1 {
    font-size: 2rem;
    color: white;
}

.marketplace__tab-wrapper {
    display: inline-block;
    background-color: yellow;
    margin-top: 20px;
}

.marketplace__tab-wrapper span {
    display: inline-flex;
    background-color: lightblue;
    margin: 0 10px;
    width: 200px;
    height: 50px;
    /* text-align: center;
    vertical-align: middle; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.marketplace__searchbar-wrapper {
    height: 200px;
    background-color: lightslategray;
}